<!--Doctype is a TAG. html is an Attribute-->
<!DOCTYPE html>
<!--some attributes must follow with a value to take action-->
<html lang="en" xmlns="http://www.w3.org/1999/html">

<!--Machine Part code-->
<head>
    <meta charset="UTF-8">
    <title>🐱‍🏍My Portfolio🐱‍🏍 Ivan Kuplivanchuk😎</title>
    <!--    Bridge between html <=> css -->
    <link rel="stylesheet" href="/style/style.css"/>
    <script src="/scripts/backend.js"></script>
</head>

<!--Human Part code-->
<body>
<!--Page Main Wrapper-->
<div class="body">
    <div class="NavBar"></div>
    <div class="PageBody">
        <div class="Banner">
            <h4>Hi, My name is Ivan Kuplivanchuk, a developer for Web Solutions</h4>
            <p>Writing clean code for fast and clear design websites is what I do🐱‍👤</p>
        </div>
<!--        TodoList Body-->
        <input type=""text placeholder="Enter a New Todo" class="myInput">
        <button onclick="AddTodo()"> Add New Todo+</button>
        <ul class="myUL">
            <li>Dummy Todo</li>
        </ul>
    </div>
    <div class="LeftSideBar">Left</div>
    <div class="RightSideBar">Right</div>
    <div class="Footer"></div>
</div>
</body>
</html>
